BOT_TOKEN=8903754894:AAFr9C3SBYsOKF4_yXqhcrAOdQQClcMXkGQ
OWNER_ID=8525505877
ADMIN_ID=8525505877
UPDATE_CHANNEL=https://t.me/geniushackerfreetools
YOUR_USERNAME=@Hackerwibes2
ADMIN_PASSWORD=geniushacker29
